/************ General Page Elements */
.row-wrapper {
  &:nth-child(odd) {
    background: $row-background;
  }
    
  .grid-container {
    @include grid-container();
    max-width: 1044px;
    margin: 0px auto;
  }  
}


/************ Navigation */
header {
  width: 100%;
  height: 72px;
  display:table;

  #logo {
    display: table-cell; 
    vertical-align:middle;
  }
  
  nav {
    float:right;
    line-height: 72px;
    
    & a {
      font-size:18px;
      color: #E3857D;
      text-transform: uppercase;
      margin-right:40px;
      
      &:last-child {
        margin-right:9px;
      }
    }
  }
}


/************ Teaser Top */
article.teaser--top {
  @include grid-column(8, $neat-grid--page);
  @include grid-push(2, $neat-grid--page);
  
  margin-top:88px;
  margin-bottom:79px;
  
  & .teaser-image {
    margin-bottom:18px;
    @include size($teaser-image-width, $teaser-image-height);
    background-size: $teaser-image-width $teaser-image-height;
    background-image:url(../img/chevron-teaser.png);
    @media
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image:url(../img/chevron-teaser@2x.png);
    }
  }
}
