ul,
ol {
  list-style-type: none;
  margin: 15px 0px 0px 0px;
  padding: 0;
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

li:before {
  content:"›";
  color: $red;
}
li a {
  padding-left:7px;
  color:$base-font-color;
  font-size:$recommended-reading-font-size;
}